<p>
  Users List:
</p>
<app-user-form (addUser) = "optimisticAdd($event)" (addUserPs) = "pessimiaticAdd()" ></app-user-form>

<ul>
  <li *ngFor = "let key of usersKeys">{{'User number ' + key + ':'}}
    <ul>
      <li>{{'Phone number: ' + users[key].phone}}</li>
      <li>{{'Name: ' + users[key].name}}</li>
    </ul> 
  <button class="btn btn-danger" (click)="deleteMessage(key)">Delete</button>  
  <button class="btn btn-info" [routerLink] = "['/user-update-form', key]">Edit</button> 
  </li>
</ul>